:root {
  --first-color: #d3ae3c;
  --first-color-50: rgba(211, 174, 60, 0.9);
  --second-color: #1d1c21;
  --second-color-90: rgba(0, 0, 0, 0.9);
  --black-color: #000;
  --white-color: #fff;
  --gris-claro: #efeeea;
  --gris-oscuro: #827d84;
  --gris-tag: #d5d4cf;
  --borde-gris-50: 1px solid rgba(239, 238, 234, 0.5);
  --font-primary: "Roboto Slab", serif;
  --font-secondary: "Roboto", sans-serif;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}
@media (min-width: 40em) {
  :root {
    --fs-h1: 2.6rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-body: 1.25rem;
  }
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--gris-claro);
  font-family: var(--font-primary);
  font-family: var(--font-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
.container {
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}
.title {
  color: var(--first-color);
}
.title,
.title-2 {
  font-family: var(--font-primary);
  font-weight: 400;
}
.title-2 {
  color: var(--second-color);
}
.text-gris {
  color: var(--gris-oscuro);
  font-size: 1rem;
}
@media (min-width: 48em) {
  .container {
    padding: 0 2.5rem;
  }
}
.btn {
  display: inline-block;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  background: var(--primary-color);
  color: #fff;
  border: none;
}
.btn-outline {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
}
.btn:hover {
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}
.bg-primary,
.btn-primary {
  background-color: var(--first-color);
  color: #fff;
}
.bg-secondary,
.btn-secondary {
  background-color: var(--second-color);
  color: #fff;
}
.bg-dark,
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-dark a,
.bg-primary a,
.bg-secondary a,
.btn-dark a,
.btn-primary a,
.btn-secondary a {
  color: #fff;
}
.bg-light,
.btn-light {
  background-color: var(--light-color);
  color: #333;
}
.text-center {
  text-align: center;
}
.flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
.m-0 {
  margin: 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 1.5rem 0;
}
.my-3 {
  margin: 2rem 0;
}
.my-4 {
  margin: 3rem 0;
}
.my-5 {
  margin: 5rem 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}
.m-4 {
  margin: 3rem;
}
.m-5 {
  margin: 5rem;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 1.5rem 0;
}
.py-3 {
  padding: 2rem 0;
}
.py-4 {
  padding: 3rem 0;
}
.py-5 {
  padding: 5rem 0;
}
.p-1 {
  padding: 1rem 0;
}
.p-2 {
  padding: 1.5rem 0;
}
.p-3 {
  padding: 2rem 0;
}
.p-4 {
  padding: 3rem 0;
}
.p-5 {
  padding: 5rem 0;
}
/* Menu */
.menu {
  position: absolute;
  top: 4rem;
  z-index: 100;
  width: 100%;
  background-color: var(--second-color-90);
}
.menu.menu-stiky {
  position: fixed;
  top: 0;
}
.menu__nav {
  height: 0;
  transition: 0.6s;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2.375rem;
  left: 0;
  width: 100%;
  background: var(--second-color);
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2rem;
}
@media (min-width: 62em) {
  .menu__nav {
    position: static;
    background-color: rgba(0, 0, 0, 0);
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
    margin-top: 0;
  }
}
.menu .height-animation {
  height: 17.525rem;
  overflow: hidden;
  border-bottom: var(--borde-gris-50);
}
.menu .height-animation.blog {
  height: 7.25rem;
}
.menu .height-animation__nav {
  height: 0;
  transition: 0.6s;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 4.375rem;
  left: 0;
  width: 100%;
  background: var(--second-color);
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 62em) {
  .menu .height-animation {
    position: static;
    background-color: rgba(0, 0, 0, 0);
    -ms-flex-pack: end;
    justify-content: flex-end;
    height: auto;
    border-bottom:none;
  }
}
.menu__contact {
  background: var(--second-color);
}
.menu__contact p {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1rem;
}
.menu__contact p span {
  width: 8.75rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 0;
}
@media (min-width: 36em) {
  .menu__contact p {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 36em){
    .menu .logo img {
      width: 7rem;

    }
    }

.menu__nav-content {
  background-color: var(--second-color);
  border-bottom: var(--borde-gris-50);
}
@media (min-width: 62em) {
  .menu__nav-content {
    background-color: rgba(0, 0, 0, 0);
    padding-block: .5rem;
  }
}
.menu__nav-content .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.menu li {
  padding: 0.9375rem 5px;
}
.menu li a {
  display: block;
}
.menu li:last-child {
  padding-right: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  transition: all 0.3s;
}
.menu a:hover {
  color: var(--first-color);
}
.menu ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu .toggle {
  -ms-flex-order: 1;
  order: 1;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  cursor: pointer;
}
.menu .bars {
  display: inline-block;
  background: var(--gris-claro);
  height: 3px;
  width: 1.25rem;
  position: relative;
}
.menu .bars:after,
.menu .bars:before {
  display: inline-block;
  background: var(--gris-claro);
  height: 3px;
  width: 1.25rem;
  position: absolute;
  content: "";
}
.menu .bars:before {
  top: 5px;
}
.menu .bars:after {
  bottom: 5px;
}
.menu .item {
  width: 100%;
  text-align: center;
  -ms-flex-order: 2;
  order: 2;
}
.menu .item,
.menu .item.active {
  display: block;
}
@media (min-width: 36em) {
  .menu ul {
    -ms-flex-pack: center;
    justify-content: center;
  }
  .menu .logo {
    -ms-flex: 1;
    flex: 1;
  }
}
@media (min-width: 62em) {
  .menu .item {
    display: block;
    width: auto;
    padding: 1rem;
  }
  .menu .item:nth-child(6) {
    padding-right: 0;
  }
  .menu .toggle {
    display: none;
  }
}

/* Hero */

.hero {
  background-image: url(../images/hero.jpg);
  background-position: top;
  background-size: cover;
  height: 90vh;
  position: relative;
  background-repeat: no-repeat;
}
@media (min-width: 48.0625em) {
  .hero {
    background-position: 0 0;
  }
}
.hero:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  right: 0;
}
.hero .container {
  height: 100%;
}
.hero .container:before {
  content: "";
  position: absolute;
  left: auto;
  bottom: -100px;
  background: url(../images/ico-number-01.svg);
  width: 3.125rem;
  height: 9.0625rem;
  z-index: 1;
}
.hero__content {
  -ms-flex-direction: column;
  flex-direction: column;
  color: var(--gris-claro);
  z-index: 5;
  position: relative;
}
.hero__title {
  padding-top: 13.1875rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
  padding-bottom: 1.2rem;
}
.hero__title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 2.25rem);
  width: 4.5rem;
  height: 2px;
  background-color: var(--first-color);
}
.hero__title p {
  width: 80%;
}
.hero__paragrap {
  color: var(--gris-oscuro);
  max-width: 51.25rem;
  margin-top: 1.5rem;
}
.hero a {
  text-decoration: none;
  text-transform: uppercase;
}
.abogados,
.acerca,
.contacto,
.practica {
  position: absolute;
  bottom: 91px;
}
@media (min-width: 48.0625em) {
  .abogados,
  .acerca,
  .contacto,
  .practica {
    bottom: 7.25em;
  }
}
.welcome {
  position: relative;
}
@media (min-width: 62em) {
  .welcome {
    background-position: 100% 50%;
    background-size: 45% 100%;
  }
}
.welcome:after {
  content: "";
  position: absolute;
  left: calc(50% - 1.5625rem);
  bottom: -100px;
  background: url(../images/ico-number-02.svg);
  width: 3.125rem;
  height: 9.0625rem;
  z-index: 1;
}
.welcome__text {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (min-width: 36em) {
  .welcome__text {
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 62em) {
  .welcome__text {
    width: 45%;
    padding-top: 4.5rem;
    padding-right: 2rem;
  }
}
@media (min-width: 75em) {
  .welcome__text {
    width: 50%;
  }
}
.welcome__text p:nth-child(2) {
  font-size: 1rem;
  margin: 0;
}
.welcome__text p:nth-child(3) {
  font-size: 1.125rem;
  font-weight: 300;
}
.welcome .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 48.0625em) {
  .welcome .container {
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.welcome__title {
  font-family: var(--font-primary);
  color: var(--first-color);
  font-weight: 400;
}
.welcome__img {
  background: url(../images/background-01.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
  height: 33.625rem;
}
.welcome__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/abogado.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
}
@media (min-width: 62em) {
  .welcome__img:after {
    left: -280px;
    width: 480px;
  }
}
@media (min-width: 62em) {
  .welcome__img {
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
.welcome__img img {
  position: relative;
  display: block;
  margin: 0 auto;
}
@media (min-width: 62em) {
  .welcome__img img {
    right: 60%;
    width: auto;
    height: 100%;
  }
}
.welcome__name {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}
.welcome__name-description {
    margin-top: 1.5rem;
  position: relative;
}
.welcome__postion {
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  color: var(--first-color);
  position: absolute;
  top: 22;
  left: 0;
}
/* Practice Area */
.practice {
  padding-top: 12rem;
  background-color: var(--second-color);
}
.practice .container:before {
  content: "";
  position: absolute;
  left: calc(50% - 1.5625rem);
  bottom: -6.25rem;
  background: url(../images/ico-number-03.svg);
  width: 3.125rem;
  height: 9.0625rem;
  z-index: 1;
}
.practice__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  row-gap: 5rem;
  margin-top: 6rem;
  padding-bottom: 12rem;
}
.practice__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.practice__item img {
  padding-right: 1rem;
}
.practice__item-title {
  color: var(--gris-claro);
  position: relative;
}
.practice__item-title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 40px;
  height: 1px;
  background-color: var(--first-color);
}
.practice__item p {
    margin-top: 2.5rem;
  color: var(--gris-oscuro);
  font-size: 1.125rem;
}
.practice__paragrap {
  max-width: 26.25rem;
  margin: 0 auto;
  color: var(--gris-oscuro);
}
/* Ottorneys */
.ottorneys {
  padding-top: 12rem;
}
.ottorneys__paragrap {
  max-width: 28.125rem;
  margin: 0 auto;
}
.ottorneys__card-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -0.5rem;
  padding: 4rem 0;
}
@media (min-width: 48.0625em) {
  .ottorneys__card-content {
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.ottorneys__card-item {
  -ms-flex: 1 1 260px;
  flex: 1 1 260px;
  min-width: 280px;
  margin: 0.5rem 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
@media (min-width: 36em) {
  .ottorneys__card-item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
@media (min-width: 62em) {
  .ottorneys__card-item {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
  }
}
.ottorneys__card-item:hover .ottorneys__card-info {
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);

  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--second-color-90);
  transition: 0.5s ease;
}
.ottorneys__card-item:hover img {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.ottorneys__card-item img {
  width: 100%;
  display: block;
  transition: all 5s ease;
}
.ottorneys__card-img {
  overflow: hidden;
}
.ottorneys__card-info {
  background-color: var(--second-color);
  color: var(--gris-claro);
  position: absolute;
  -ms-transform: translateY(-21%);
  transform: translateY(-21%);
  transition: 0.8s ease;
  margin: 0;
  left: 0;
  transition: 0.5s ease;
}
@media (min-width: 36em) {
  .ottorneys__card-info {
    margin: 0 0.5rem;
  }
}
.ottorneys__card-name {
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 1.1rem;
  transition: 0.5s ease;
}
.ottorneys__card-position {
  text-transform: capitalize;
  color: var(--first-color);
  padding: 0.5rem;
}
.ottorneys__card-social i {
  padding: 0 1rem;
  color: var(--gris-oscuro);
}
.ottorneys__card-social i:hover {
  color: var(--gris-claro);
}
.ottorneys__card-description {
  color: var(--gris-oscuro);
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0 1rem;
}
.ottorneys a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}
.ottorneys__experience {
  background: url(../images/20-experience.jpg) fixed 50%;
  position: relative;
  padding: 8rem 0;
}
.ottorneys__experience:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--first-color-50);
  position: absolute;
  top: 0;
  left: 0;
}
.ottorneys__experience-paragrap {
  max-width: 41.875rem;
  margin: 2rem auto;
}
.ottorneys__experience-paragrap,
.ottorneys__experience-title,
.ottorneys__experience a {
  position: relative;
  z-index: 2;
}
.form {
  background-color: var(--second-color);
}
.form form {
  color: var(--gris-claro);
}
.form__title {
  position: relative;
}
.form__title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 4.375rem;
  background: url(../images/ico-number-04.svg);
  width: 3.125rem;
  height: 9.0625rem;
  z-index: 1;
}
.form__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: end;
  align-items: flex-end;
}
@media (min-width: 75em) {
  .form__content {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.form__paragrap {
  font-size: 1rem;
}
.form__img {
  width: 100%;
  height: auto;
  -ms-flex-order: 1;
  order: 1;
}
@media (min-width: 75em) {
  .form__img {
    width: 65%;
    height: 41.5rem;
    padding-right: 1rem;
  }
}
.form__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.form__fiel-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
@media (min-width: 48.0625em) {
  .form__fiel-grid {
    grid-template-columns: 50% 50%;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    width: calc(100% - 1rem);
  }
}
.form__fiel-content {
  width: 100%;
  padding: 10rem 0 2rem;
}
.form__fiel-content:after {
  content: "";
  position: absolute;
  left: calc(50% - 1.5625rem);
  bottom: -6.25rem;
  background: url(../images/ico-number-05.svg);
  width: 3.125rem;
  height: 9.0625rem;
  z-index: 1;
}
@media (min-width: 75em) {
  .form__fiel-content {
    width: 50%;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 0 0 1rem;
  }
}
.form__fiel-content a {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  text-align: center;
}
@media (min-width: 48.0625em) {
  .form__fiel-content a {
    display: inline-block;
  }
}
.form__fiel-generic {
  position: relative;
  height: 4.375rem;
  width: 100%;
}
.form__fiel-generic input {
  border: none;
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
  background-color: var(--second-color);
  outline: none;
  color: var(--first-color);
}
.form__fiel-generic-label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--first-color);
  pointer-events: none;
  color: var(--gris-oscuro);
  font-size: 1rem;
}
.form__fiel-generic-label span {
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
}
.form__fiel-generic input:focus + .form__fiel-generic-label span,
.form__fiel-generic input:valid + .form__fiel-generic-label span {
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  font-size: 0.8rem;
}
.form__fiel-generic-select {
  border-bottom: 1px solid var(--first-color);
  background-color: var(--gris-claro);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
}
.form__fiel-generic-select option {
  color: var(--gris-claro);
  background-color: var(--first-color);
}
.form__fiel-generic-select option:hover {
  background-color: var(--second-color);
}
.form__fiel-generic-select:focus {
  outline: none;
}
.form__fiel-generic-select,
.form__fiel-generic textarea {
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--second-color);
  color: var(--gris-oscuro);
  border-bottom: 2px solid var(--first-color);
  font-size: 1rem;
  outline: none;
}
@media (min-width: 48.0625em) {
  .form__fiel-generic-select,
  .form__fiel-generic textarea {
    width: 100%;
  }
}
.form__fiel-generic textarea {
  padding-top: 3rem;
}
.form__fiel-generic textarea .form__fiel-generic-label span {
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
}
.form__fiel-generic textarea + .form__fiel-generic-label {
  width: 100%;
}
.form__fiel-generic textarea:focus + .form__fiel-generic-label span,
.form__fiel-generic textarea:valid + .form__fiel-generic-label span {
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  font-size: 0.8rem;
}
.news{
    padding-block: 12rem;
}
.news__paragrap {
  max-width: 39.8125rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--gris-oscuro);
}
.news__card {
  display: -ms-flexbox;
  display: flex;
  margin: -0.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-block: 3rem;
}
@media (min-width: 62em) {
  .news__card {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-block: 4rem;
  }
}
.news__card-img {
  overflow: hidden;
}
.news__card-date {
  margin: 0;
  padding-top: 2rem;
  font-size: 0.875rem;
  color: var(--first-color);
  text-transform: uppercase;
}
.news__card-title-article {
  font-size: 1.25rem;
  font-family: var(--font-primary);
  font-weight: 300;
  max-width: 15.75rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.news__card-title-article:after {
  content: "";
  width: 3.125rem;
  height: 1px;
  background-color: var(--first-color);
  position: absolute;
  top: 3.5rem;
  left: calc(50% - 1.5625rem);
}
.news__card-paragrap {
  font-size: 1rem;
  color: var(--gris-oscuro);
  padding: 0 2rem 2rem;
  margin-bottom: 0;
  font-family: var(--font-secondary);
  font-weight: 300;
  margin-top: 2rem;
}
.news__card-item {
  margin: 0.5rem;
  max-width: 100%;
  background-color: var(--white-color);
  border-bottom: 4px solid var(--first-color);
}
.news__card-item:hover img {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
@media (min-width: 36em) {
  .news__card-item {
    max-width: 47%;
  }
}
.news__card-item img {
  display: block;
  width: 100%;
  transition: transform 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.news__card-title {
  padding: 0 1rem;
}
.testimonial {
  padding: 6rem 0;
  background: fixed url(../images/bg-testimonial.jpg) 50% / cover no-repeat;
  position: relative;
}
.testimonial:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--first-color-50);
}
.testimonial__content {
  height: 21.875rem;
}
.testimonial__content .flickity-viewport {
  height: 100% !important;
}
@media (min-width: 48.0625em) {
  .testimonial__content {
    height: 18.75rem;
  }
}
.testimonial .container {
  z-index: 2;
}
.testimonial__content-item {
  width: 100%;
  max-width: 56.25rem;
}
.testimonial__content-center {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}
.footer {
  background-color: var(--second-color);
  color: var(--gris-claro);
}
.footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 2rem;
}
.footer__item-logo-description {
  -ms-flex: 0 1 25rem;
  flex: 0 1 25rem;
}
.footer__item-social {
  display: block;
  margin-top: 1rem;
}
.footer__item-social i {
  padding-right: 1rem;
}

.footer__item-direction-list {
  list-style: none;
  padding: 0;
  line-height: 2;
  margin-top: 1rem;
}
.footer__item-direction-list i {
  padding-right: 1rem;
  color: var(--first-color);
}
.footer__rights {
  background-color: var(--first-color);
  color: var(--gris-claro);
}
.footer__rights p {
  font-size: 1rem;
}
.hero.blog {
  background: fixed url(../images/blog-img.jpg) 50% / cover;
  height: 60vh;
}
.hero.blog .container:before {
  display: none;
}
.hero.blog .hero__title {
  padding-top: 4.5rem;
}
.news__card.blog {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 48.0625em) {
  .news__card.blog {
    width: 70%;
  }
}
.news__card.blog article {
  width: 16.25rem;
  min-width: 12.5rem;
  max-width: none;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.news__blog-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 48.0625em) {
  .news__blog-container {
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.news__blog-search {
  width: 100%;
  margin-top: 3rem;
}
@media (min-width: 36em) {
  .news__blog-search {
    width: calc(50% - 1rem);
  }
}
@media (min-width: 48.0625em) {
  .news__blog-search {
    width: 30%;
    margin-top: 0;
  }
}
.news__blog-search h3 {
  font-family: var(--font-secondary);
  color: var(--first-color);
}
.news__blog-search-relative {
  position: relative;
}
.news__blog-search-relative input {
  padding: 0.75rem 2.5rem 0.75rem 1.5rem;
  width: 100%;
  border: 2px solid var(--first-color);
}
.news__blog-search-relative input:focus {
  border-color: var(--second-color);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125), 0 0 8px var(--first-color);
}
.news__blog-search-relative button {
  border: none;
  padding: 0;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  cursor: pointer;
  outline: none;
  right: 0;
  top: 0;
  margin: auto;
  left: 85%;
  bottom: 0;
  font-size: 1.5rem;
}
.news__blog-search-social i {
  position: relative;
  z-index: 2;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  color: var(--gris-claro);
  cursor: pointer;
}
.news__blog-search-social i:hover:after {
  background-color: var(--second-color);
}
.news__blog-search-social i:after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--first-color);
  left: 0;
  top: -30%;
  z-index: -1;
}
.news__blog-search-category {
  list-style: none;
  padding: 0;
}
.news__blog-search-category li {
  margin: 1rem 0;
  border-bottom: 1px solid var(--gris-oscuro);
  padding: 0.5rem 0;
  transition: 0.3s ease;
}
.news__blog-search-category li:hover,
.news__blog-search-category li:hover a {
  -ms-transform: translateX(6px);
  transform: translateX(6px);
  color: var(--first-color);
}
.news__blog-search-category li:hover {
  border-bottom: 1px solid var(--first-color);
}
.news__blog-search-category a {
  display: block;
  position: relative;
  text-decoration: none;
  color: var(--gris-oscuro);
  list-style: none;
  font-weight: 300;
  transition: 0.3s;
}
.news__blog-search-category a:after {
  content: "\f054";
  position: absolute;
  top: 0;
  right: 0;
  font-family: Font Awesome\5 Free;
  font-weight: 900;
}
.news__blog-search-tag-grid {
  list-style: none;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news__blog-search-tag-grid li {
  display: inline-block;
  background-color: var(--gris-tag);
  margin: 0.2rem;
}
.news__blog-search-tag-grid li:hover {
  background: var(--first-color);
}
.news__blog-search-tag-grid li:hover a {
  color: var(--second-color);
}
.news__blog-search-tag-grid a {
  text-decoration: none;
  color: var(--gris-oscuro);
  padding: 1.2rem;
}
